<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Account Manager</title>
	<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<div class="title-div">
		<div class="text app-title-div">
			<p>Account Manager UI</p>
		</div>
		<div class="text right-div" sec:authorize="isAuthenticated()">
			<div>
			Authenticated as <span sec:authentication="name"></span>
			</div>
			<div>
				<a class="text link" th:href="@{/logout}">Log out</a>
			</div>
		</div>
	</div>
	<h1 class="text" >Existing accounts for <span sec:authentication="name"></span></h1>
		<table class="text" >
			<tr>
				<th>Account Id </th>
				<th>Balance</th>
				<th>Created On</th> 
			</tr>
	        <tr th:each="account,iterationstatus :${accounts}">
	            <td th:text="${account.id}"> Account Id</td>
	            <td th:text="${account.balance}"> Balance</td>
	            <td th:text="${account.getFormattedDate()}"> Created On </td>
	        </tr>
	    </table>
	<h1 class="text">Create a new account</h1>
	<h2 class="text" >Currently there is a limit of 5 accounts per user. This number is configurable from the AccountUtils class in the accountmgr solution.</h2>
    <form action="#" th:action="@{/account}" th:object="${account}" method="post">
        <p class="text" >Initial Balance: <input type="text" th:field="*{balance}" /></p>
        <p><input type="submit" value="Submit" class="button"/></p>
        <p class="text error-message" th:text="${error}"></p> 
    </form>
    
</body>
</html>