<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Account Manager</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
	<div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>
	<h1>An error appeared.</h1>
	<a style="color: blue" th:href="@{/account}">Go back to the account page.</a>
</body>
</html>